@font-face {
    src: url(../../assets/fonts/CormorantGaramond-Regular.ttf);
    font-family: cor;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cor;
    max-width: 100%;
}

/* apply styles to <header> */
#con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 55px 20px 35px;
    background-color: gray;
    position: sticky;
    top: 0px;
    z-index: 50;
    font-size: 1.2em;
}

@media only screen and (max-height: 844px) {

    html {
        viewport-fit: 100%;
    }

    #con {
        display: flex;
        justify-content: space-between;
        padding: 1.4em;
        background-color: gray;
        z-index: 50;
        font-size: .95em;        
    }

}